* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

a{
    text-decoration: none;
}

body {
    font-size: 25px;
    display: flex;
    height: 100vh;
    background-color: #ff5900;
    overflow: hidden;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    padding: 10px 0 0 30px;
    transition: .3s;
    position: relative;
}
.logo-link{
    width: 70px;
}
.logo{
    display: block;
    width: 70px;
}
header nav {
    margin: 50px 0;
}

header nav a {
    margin: 20px 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: .7rem;
    font-weight: lighter;
}

main {
    height: 100vh;
    width: 85vw;
    overflow-y: auto;
}
body{
    position: relative;
}
.menu{
    position: absolute;
    top: 10px;
    left: 85%;
    width: 50px;
    height: 35px;
    z-index: 2;
    display: none;
    position: relative;
}
.line{
    transition: .3s;
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    border-radius: 3px;
}
.line:nth-of-type(1){
    top: 0;
}
.line:nth-of-type(2){
    top: 50%;
}
.line:nth-of-type(3){
    top: 100%;
}
.folder{
    display: none;
}

@media screen and (max-width:480px) {
    body{
        flex-direction: column;
        /* background-color: rgba(0, 255, 255, 0.408); */
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    main{
        /* background-color: red; */
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
    }
    header{
        height: 100%;
        width: 100%;
        background-color: #ff5900;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .header-is-active{
        translate: -100% 0;
    }
    .menu-is-active .line:nth-of-type(1){
        top: 50%;
        rotate: 45deg;
    }
    .menu-is-active .line:nth-of-type(3){
        top: 50%;
        rotate: -45deg;
    }
    .menu-is-active .line:nth-of-type(2){
        opacity: 0;
    }
    .menu{
        display: block;
    }
    .folder{
        display: block;
    }
    .name{
        text-align: center;
    }
    .intro{
        font-size: 1rem;
        margin: 80px 40px;
        padding: 30px 50px;
    }
    .li{
        display: flex;
    }
    .part{
        margin: 100px 0;
    }
}