.name {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.intro{
    margin: 130px 150px;
    border: .5px solid white;
    padding: 50px 130px;
}
.intro .li {
    margin: 20px 0;
    font-weight: bold;
}