.title {
    font-size: 4rem;
    text-align: center;
    margin: 50px 0;
}
.works{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}
.card-title{
    font-size: 1.7rem;
    margin: 20px;
}

.card-img {
    height: 200px;
    width: 330px;
    background-size: cover;
    position: relative;
}
.card-img::after{
    content: "";
    width: 330px;
    height: 200px;
    background-image: repeating-linear-gradient(45deg,#ffbe9a,#ffbe9a 2px,transparent 2px,transparent 6px);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
}

.card-text{
    font-size: 1rem;
    margin: 20px;
}