.title {
    font-size: 4rem;
    text-align: center;
    margin: 50px 0;
}
.works{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}
.card-title{
    font-size: 1.7rem;
    margin: 20px;
}

.card-img {
    height: 200px;
    width: 330px;
    background-size: cover;
}

.card-text{
    font-size: 1rem;
    margin: 20px;
}